.attachment_display{list-style:none;margin:auto}
.attachment_display pre{background-color:#ededed;padding:8px 32px;border-radius:8px;clear:both;display:block;width:auto;max-width:300px;overflow:hidden;height:30px;line-height:30px;text-overflow:ellipsis;white-space:nowrap;text-align:left}
.attachment_display li{float:left;clear:both;display:block;width:100%;padding:0 0 30px}
.single .entry-title .fs1{float:left;display:inline;margin:0 0 0 18px}
.single .download-link{background-color:#909090;color:#fff;margin:2em}
.details{font-size:11px;color:#818181;background-color:#fff;padding:0 1em}
span.attac-name{text-align:left;display:block;background-color:#fff;line-height:16px;padding:0 1em 5px;margin:10px 0 0;font-size:12px;font-weight:700;word-break:break-all}
.attachment_display .att-wrapper{padding:15px 5px;height:250px;display:block;position:relative;background-color:#FFF;margin:20px 0;overflow:hidden;box-shadow:0 0 5px #BCBCBC}
.comments-c{position:absolute;font-size:26px;color:#ccc;top:0;left:8px}
.comments-c span{position:absolute;left:0;top:8px;text-align:center;width:26px;font-weight:300;font-size:11px}
.attachment_display .att-wrapper img{max-width:85%;width:auto;max-height:80px;display:block;margin:10px auto;float:none;padding:0}
.page-linker{font-size:11px;text-align:center;width:60%;display:block;text-transform:lowercase;background:#ededed;margin:5px auto}
.active-filters{clear: both;display: block;width: 100%;margin: .2em 0;padding:0}
.active-filters span{background-color: #EFEFEF;
  padding: .2em 1em;
  margin: 0 .5em 0 0;
  text-transform: lowercase;
  font-size: 12px;}
.attachment_display a.download-link,.attachment_display a.edit-link{padding: 0;
  width: auto;
  line-height: 28px;
  display: block;
  border-radius: 4px;
  margin: 12px auto 0;
  text-align: right;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  color: #3780D6;
  text-decoration: none;
  background: none;
  bottom: 0;
  right: 1em;}
.attachment_display a.edit-link{right: inherit;left: 1em;}
.attachment_display a.download-link:hover{background-color: inherit;}
.attachment_display a.download-link img{position:absolute;left:18px;top:9px;padding:0;margin:0}
.attachment_display .fa{padding:15px 10px 0 0;position:absolute;top:-10px;right:15px;max-width:15px;height:auto}
.attachment_display li::before{content:""}
.eml-filter-block>.padd-1{  margin: auto;float: none;display: block;padding: 0 1em 1em;border: 1px solid #BBB;  position: relative;}
.eml-filter-block h2{    font-size: 18px;
  font-weight: 300;
  color: #6E6E6E;
  margin: 0;
  padding: 0 1em;
  position: absolute;
  top: -15px;
  background: #fff;
  left: 1em; }
.eml-no-result{background-color: #ee6946;color:#fff;padding: 1em;    clear: both;
  display: block;
  margin: 1em 0;}
.filtering-results-eml{
  padding: 0;
  margin: 1em 0;

}
.filtering-results-eml.active{ padding: 0 1em 1em 1em;
  clear: both;
  display: block;  border: 1px solid #242424;
}
.eml-results{font-size: 120%;
  background-color: #242424;
  color: #fff;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: 0;
  padding: .5em 1em;}
.eml-filter-block h2 i{margin:0 .5em 0 0;}
.eml-filter-block ul { list-style: none;margin: 0;padding: .5em 0;position: relative;}
.eml-filter-block ul li{ padding: .2em;position: relative;}
.eml-filter-block ul li a {line-height: 35px;text-decoration: none;color: #333;display: block;}
.eml-filter-block ul li a i{font-size: 12px;}
.eml-filter-block ul.submenu{    position: absolute;
  top: 38px;
  left: 0;
  background-color: #fff;
  z-index: 9;
  box-shadow: 0 1px 1px #999;
  padding: .5em 1em .5em 0.5em;
  border-radius: 2px;display: none;width: 180px;}
.eml-filter-block li:hover > ul.submenu{display: block;}
.eml-filter-block ul.horizontal-list{position: relative;width: 100%;margin: 0;padding: 0;}
.eml-filter-block ul.horizontal-list li{display: inline-block;float: left;}
/**
Animations
*/
.js-spin-it{    animation-name: spin;
  animation-duration: 80ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;    color: #C8C8C8;display: none}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}